@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer utilities {

  .boxWidth{
      @apply w-full;
  }

  .flexCenter{
     @apply flex justify-center items-center;
  }

  .flexStart{
      @apply flex justify-center items-start;
  }
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

 
}  

.companydetails-header{
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items:center;
}
.hello{
  display: flex;
  justify-content: center;
}
table {
  border-collapse: separate; /* Use separate to enable border-spacing */
  border-spacing: 10px; /* Adds space between table cells */
  margin: auto; /* Centers the table horizontally */
}

td, th {
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px; /* Adds padding inside each cell */
  text-align: left;
}
.operations{
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}






